# Build directories
/build/
CMakeFiles/
CMakeCache.txt

# IDE and editor files
.vs/
.vscode/

# vcpkg installed dependencies
/vcpkg_installed/

# Temporary or intermediate files
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.pdb
*.ilk

# Logs and temporary files
*.log
*.tmp

# Other OS-specific files 
.DS_Store
Thumbs.db
